<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<array>
		<dict>
			<key>channelName</key>
			<string>头条</string>
			<key>channelType</key>
			<string></string>
			<key>channelId</key>
			<string></string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>医药指南</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>8</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>育婴护理</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>44</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>运动饮食</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>28</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>两性知识</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>45</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>护眼专栏</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>58</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>曝光台</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>31</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>留言粉碎机</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>47</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>安全用药</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>0</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>育儿经</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>6</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>情感天地</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>30</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>癌症预防</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>31</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>生命之重</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>32</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>医疗连线</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>33</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>关爱男性</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>34</string>
		</dict>
		<dict>
			<key>channelName</key>
			<string>关爱女性</string>
			<key>channelType</key>
			<string>0</string>
			<key>channelId</key>
			<string>35</string>
		</dict>
	</array>
</dict>
</plist>
